<h1>Tell me your problems.</h1>

<%= form_tag "/searches", method: :get do %>
  <div>
    <select name="search">
      <option value="general_health" >General Health</option>
      <option value="mental_health">Mental Health</option>
    </select>
  </div>

  Select Zip Code:
  <div>
    <input type="text" name="zip">
  </div>
 
  Select Borough:
  <select name="borough">
    <option value="Brooklyn" <%= 'selected' if @borough == "Brooklyn" %>>Brooklyn</option>
    <option value="Manhattan" <%= 'selected' if @borough == "Manhattan" %>>Manhattan</option>
    <option value="Queens" <%= 'selected' if @borough == "Queens" %>>Queens</option>
    <option value="Bronx" <%= 'selected' if @borough == "Bronx" %>>Bronx</option>
    <option value="Staten Island" <%= 'selected' if @borough == "Staten Island" %>>Staten Island</option>
  </select>
  <input type="submit" value="Search">
<% end %>

<% if @search_results && @search_results.any? %>
  <% @search_results.each do |result| %>
    <div>
      <p><%= result.name %></p>
      <p><%= result.name_2 if result.name_2 %></p>
      <p><%= result.address %></p>
      <p><%= result.zip %></p>
      <p><%= result.phone %></p>
    </div>
  <% end %>
<% end %>
